//Estilos del menu de navegacion 
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    //Lineas estilizadas del menu
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0px 0px 5px 0px;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    //Rota el eje x del menu

    &.close {
        transform: rotate(180deg);

        .btn-line {

            //Linea 1 rota
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            //Linea 2 esconde
            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }

        }


    }
}

//Overlay que se activa al darle click al menu

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    //Para que se vea visible menu de navegacion horizontal
    &.show {
        visibility: visible;
    }

    //Marca del portafolio y el efecto de menu del overlay
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    //Animacion de posicion y background
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            //Desliza desde arriba
            transform: translate3d(0, 0, 0);
        }
    }

    //Branding slide
    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        //Desliza desde abajo
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .nav-items {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        //Desliza desde la derecha
        &.show {
            transform: translate3d(0, 0, 0);
        }

        &.current>a {
            color: $secondary-color;
        }
    }

    //Imagen de retrato
    .portrait {
        width: 200px;
        height: 200px;
        background: url("../imagen-fondo/retrato.jpg"), no-repeat;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }

    //Personalizar los nav-links
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: nose;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

//atrasa cada item por 1 seg para que se deslize a la izquierda

@for $x from 1 through 4 {
    .nav-items:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}